/* Variables */
$break-xs: 480px;
$break-sm: 525px;
$break-md: 768px;
$break-lg: 900px;
$break-xl: 1110px;

$column-widths: (
    max-xs: 850px,
    max-sm: 1000px,
    max-md: 1300px,
    max-lg: 1600px,
    max-fc: fit-content,
    max-vw: 100vw
);
