$theme-name: 'SoDa Nocturne';
$theme-type: 'Dark';

:root.soda-nocturne-theme {
	--background-color: #1e1f26e8;
	--background-overlay: #2c2f3c69;
	--bg-hue-angle: 25deg;
	--logo-hue-angle: 0deg;
	--text-color: #e0e0e0;
	--header-background-color: #2a2d3ae8;
	--border-color: #3a3d4d;
	--disabled-color: #3a3d4dbf;
	--link-color: #6ca6ec;
	--hover-color: #f38ba8;
	--input-bg: #262833;
	--input-text: #e0e0e0;
	--input-placeholder: #7c7f99;
	--button-text: #ffffff;
	--error-bg: #d94f4f;
	--scrollbar-primary: #6f7adb;
	--scrollbar-secondary: #353848;
	--syntax-text: #c8cdc6;
	--syntax-pun: #949494;
	--syntax-tag: #43a6d2;
	--syntax-attr: #4071a1;
	--syntax-value: #9699e7;
}
