/* Footer */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
	height: 93px;
	line-height: 1.6;
	background-color: var(--header-background-color);
	border-top: 1px solid var(--border-color);
	text-align: center;
	overflow: hidden;
	z-index: 2;
	animation: slideInUp 1s ease-out;

	.footer-wrapper {
		display: flex;
		flex-direction: row;
		white-space: nowrap;
	}

	p {
		font-style: italic;
		line-height: 1.3;
	}

	a {
		font-weight: bold;
		margin: 0 5px;
	}
}

.toggle-theme {
	cursor: pointer;
	font-size: 18px;
	background: transparent;
	border: none;
	color: var(--text-color);
	border-radius: 5px;
	flex: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 11px;

	&:hover {
		background: none;
	}
}

.emoji {
	filter: hue-rotate(170deg) saturate(0.4) brightness(0.8);
}

span.quote {
	font-size: 25px;
	line-height: 13px;
	margin: 0 4px;
	position: relative;
	top: 4px;
}