/* Index page styles */
body {
	font-family: var(--font-main);
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-x: hidden;
}

.background-image {
	background-image: var(--background-image);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.light-mode.background-image {
	&::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--light-mode-bg-overlay);
		z-index: -1;
	}
}

.container {
	display: flex;
	flex-direction: column;
}

header {
	padding: 15px;
	background-color: var(--header-background-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	border-bottom: 1px solid var(--border-color);
	height: 88px;
	animation: slideInDown 1s ease-out;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1000;

	h1 {
		color: var(--link-color);
		margin: 0;
		font-family: var(--font-main);
	}

	.clock {
		font-size: 2.1em;
		font-weight: 700;
	}
}

label {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"], select {
	font-family: var(--font-main);
	width: 100%;
	max-width: 300px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid var(--border-color);
	background-color: var(--input-bg);
	color: var(--input-text);

	&::placeholder {
		color: var(--input-placeholder);
	}
}

input[type="checkbox"] {
	margin: 0 5px;
}

select {
	width: auto;
	margin-left: 5px;
}

button {
	padding: 10px;
	background: var(--header-background-color);
	border: 1px var(--border-color) solid;
	border-radius: 7px;
	color: var(--text-color);
	line-height: 1;
	cursor: pointer;
	transition: all 0.3s;
	user-select: none;

	&:hover {
		background: var(--text-color);
		color: var(--header-background-color);
	}
}

.folders {
	position: relative;
	z-index: 0;

	h2 {
		margin: 15px 0 15px;
	}

	a {
		color: var(--link-color);
		text-decoration: none;
		font-weight: bold;
	}

	ul {
		list-style: none;
		padding: 0;
		line-height: 1.2;
	}

	li {
		margin: 5px 0;
		gap: 20px;
	}
}

a {
	color: var(--link-color);
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		text-decoration: none;
		color: var(--hover-color) !important;
	}
}

.column-controls {
	position: absolute;
	top: 40px;
	right: 20px;
	user-select: none;

	button {
		padding: 5px;
		margin-left: 5px;
		width: 23px;
		font-size: 0.9em;
	}
}

.server-info {
	flex: none;
	text-align: right;
	font-size: 14px;
	position: relative;
}

section {
	flex: 1;
	padding: 20px 20px 123px;
	animation: fadeIn 1.5s ease-in;
}

.columns {
	position: relative;
	display: flex;
	gap: 30px;
	margin: 0 auto;
	max-width: 1300px;
	transition: max-width 0.3s ease;

	// Width modifiers
	$column-widths: (
		max-xs: 800px,
		max-sm: 1000px,
		max-md: 1300px,
		max-lg: 1600px,
		max-xl: fit-content
	);

	@each $class, $width in $column-widths {
		&.#{$class} {
			max-width: $width;
		}
	}
}

.column {
	position: relative;
	flex: 1;
	background-color: var(--header-background-color);
	padding: 16px 13px;
	border-radius: 8px;

	.drag-handle {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 3px;
		right: 3px;
		padding: 10px;
		cursor: grab;
		z-index: 1;

		svg {
			width: 20px;
			height: 20px;
			color: var(--input-placeholder);
			transition: color .2s ease;
		}

		&:hover {
			svg {
				color: var(--hover-color);
			}
		}
	}

	h3 {
		position: relative;
		height: 25px;
		margin-bottom: 15px;
		user-select: none;

		a {
			color: var(--text-color);
		}
	}

	img {
		width: 26px;
		margin-left: 5px;
		vertical-align: text-bottom;
	}
}

.folder-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.url-container {
	display: flex;
	gap: 10px;
}

footer {
	padding: 20px;
	height: 93px;
	line-height: 1.6;
	background-color: var(--header-background-color);
	border-top: 1px solid var(--border-color);
	text-align: center;
	animation: slideInUp 1s ease-out;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 93px;
	overflow: hidden;
	z-index: 2;

	p {
		font-style: italic;
		line-height: 1.3;
	}

	a {
		font-weight: bold;
		margin: 0 5px;
	}
}

.toggle-theme {
	cursor: pointer;
	font-size: 18px;
	background: transparent;
	border: none;
	color: var(--text-color);
	border-radius: 5px;
	flex: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 11px;

	&:hover {
		background: none;
	}
}

.emoji {
	filter: hue-rotate(170deg) saturate(0.4) brightness(0.8);
}

span.quote {
	font-size: 25px;
	line-height: 13px;
	margin: 0 4px;
	position: relative;
	top: 4px;
}

.dock {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-top: 40px;
	padding: 10px;
	user-select: none;

	a {
		position: relative;
		display: inline-block;
		transition: transform 0.3s ease-in-out;

		&:hover {
			transform: scale(1.3);
		}

		span { //To overlay text for each dock icon
			position: absolute;
			bottom: 8px;
			right: 0;
			color: var(--text-color);
			font-size: 18px;
			text-transform: uppercase;
			text-shadow: -1px -1px 0 var(--header-background-color), 1px -1px 0 var(--header-background-color), -1px 1px 0 var(--header-background-color), 1px 1px 0 var(--header-background-color);
			user-select: none;
		}
	}

	img {
		width: 60px;
		height: 60px;
		border-radius: 10px;
	}
}

#settings-view {
	h3 {
		margin: 10px 0 10px;
	}
	form > p {
		font-size: .9rem;
	}
}

.misc {
	pointer-events: none;
}

.system-monitor, #error-log-section { //Initial display should be none unless class is detected in the body
	display: none;
}

body.error-log-section-active #error-log-section {
	position: relative;
	display: flex;
	flex-direction: column;
	animation: fadeIn 1.5s ease-in;
	margin-top: -123px;
	z-index: 1;

	h3 {
		margin-bottom: 5px;
	}

	button {
		cursor: pointer;
		background: none;
		border: none;
		color: inherit;
		transition: color 0.3s;

		&:hover {
			color: var(--hover-color) !important;
		}
	}
}

pre {
	white-space: break-spaces;
	font-size: 14px;
}

body.system-monitor-active {
	.system-monitor {
		display: flex;
		flex-direction: column;
		position: fixed;
		bottom: 115px;
		right: 20px;
		width: 180px;
		background: rgba(0, 0, 0, 0.5);
		padding: 15px;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		pointer-events: none;
		animation: fadeIn 1.5s ease-in;

		p {
			display: flex;
			justify-content: space-between;
			margin: 0;
			gap: 5px;
			align-items: center;

			span {
				text-align: right;
			}
		}
	}

	#error-log-section {
		padding-right: 220px;
	}
}

hr {
	margin: 20px 0;
	ackground-color: var(--text-color);
	height: 1px;
	border: none;
}

/* PHP Info */
#phpinfo-view {
	max-width: 1000px;
	margin: 0 auto;

	table {
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 1.5rem;
		table-layout: fixed;
		word-wrap: break-word;
	}

	th,
	td {
		padding: 0.5rem;
		vertical-align: top;
		text-align: left;
		font-size: 0.85rem;
	}

	h1,
	h2 {
		margin-top: 2rem;
		margin-bottom: 0.75rem;
	}

	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	p {
		margin: 0.5rem 0;
	}

	a {
		text-decoration: underline;
		word-break: break-word;
	}
}

/* vHosts Manager */
#vhosts-manager {
	margin: 2em 0;
	padding: 0;
	border-radius: 0.5em;
}

table {
	width: auto;
	border-collapse: collapse;
	border-radius: 5px;
	background: var(--header-background-color);

	th,
	td {
		padding: 0.5em;
		border: 1px solid var(--border-color);
		text-align: left;
	}
}

/* Dock Configuration Styles */
#dock-config-editor {
	margin-top: 1rem;

	#dock-list {
		list-style: none;
		padding: 0;

		.dock-item {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			margin-bottom: 0.5rem;
			padding: 0.5rem;
			background: var(--header-background-color);
			border: 1px solid var(--border-color);
			border-radius: 6px;
			cursor: move;

			input {
				flex: 1;
				padding: 0.3rem;
				font-size: 0.9rem;
				max-width: none;

				&[placeholder="Label"] {
					max-width: 150px;
				}

				&[placeholder="Icon"] {
					max-width: 300px;
				}

				&[placeholder="Alt Text"] {
					max-width: 150px;
				}
			}

			button.remove {
				background: var(--hover-color);
				border: none;
				padding: 0.3rem 0.6rem;
				cursor: pointer;
				font-size: 0.9rem;
				border-radius: 4px;

				&:hover {
					background: var(--text-color);
				}
			}
		}
	}
}

/* Folders Config */
#folders-config {
	background: var(--header-background-color);
	padding: 1rem;
	border-radius: 1rem;

	.folder-config-item {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
		gap: 0.5rem;
		padding: 1rem;
		position: relative;

		input {
			padding: 0.5rem;
			font-size: 0.9rem;
		}

		label {
			margin-left: 5px;
		}

		button.remove-folder-column {
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
			padding: 0.25rem 0.5rem;
		}

		.special-case {
			display: flex;
			gap: .5em;
			flex-wrap: wrap;
			margin-bottom: 5px;
		}
	}

	button#add-folder-column {
		margin-top: 1rem;
		font-weight: bold;
		background-color: var(--link-color);
		color: var(--button-text);
		border: none;

		&:hover {
			background-color: var(--hover-color);
		}
	}
}

/* Folder Link Templates */
#link-templates-config {
	.template-item {
		display: flex;
		gap: .5rem;
		margin-bottom: 20px;

		input {
			max-width: none;

			&.template-name {
				max-width: 300px;
			}
		}
	}
}

/* Custom Scrollbar */
html {
	scrollbar-width: thin;

	/* Firefox 🥺 */
	scrollbar-color: var(--scrollbar-primary) var(--scrollbar-secondary);
}

body {
	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--scrollbar-secondary);
		border-radius: 100px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 100px;
		background-image: linear-gradient(180deg, var(--scrollbar-primary) 0%, var(--scrollbar-secondary) 99%);
		box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
	}
}