/* Media breakpoints */
$break-xs: 525px;
$break-sm: 900px;
$break-lg: 1110px;

@media (max-width: #{$break-lg}) {
	header {
		h1 {
			font-size: 25px;
		}
	}
}

@media (max-width: #{$break-sm}) {
	header {
		h1 {
			display: none;
		}
	}
	.columns {
		flex-direction: column;
		max-width: none !important;
		width: 100%;
	}
	.toggle-theme {
		position: static;
		padding: 0 0 0 5px;
		transform: none;
	}
	body.system-monitor-active.error-log-section-active #error-log-section {
		padding-right: 0;
	}
	body.system-monitor-active .system-monitor {
		position: static;
		width: 100%;
		margin: -90px auto 90px auto;
		border-radius: 0;
		align-items: center;
	}
	.column-controls {
		display: none;
	}
	#dock-config-editor {
		#dock-list {
			display: flex;
			flex-direction: column;

			.dock-item {
				flex-direction: column;

				input {
					max-width: none !important;
				}
			}
		}
	}
	#link-templates-config {
		.template-item {
			flex-direction: column;
			align-items: baseline;

			input {
				&.template-name {
					max-width: none;
				}
			}
		}
	}
	#vhosts-table {
		border: 1px solid var(--border-color);

		thead {
			display: none;
		}

		tbody {
			tr {
				display: block;
				padding: 1rem;
				background: var(--header-background-color);

				td {
					display: flex;
					justify-content: space-between;
					align-items: baseline;
					flex-wrap: wrap;
					border-bottom: none;

					&:last-child {
						border-bottom: 1px solid var(--border-color);
					}

					&::before {
						content: attr(data-label);
						font-weight: bold;
						flex: 1;
						margin-right: 1rem;
						color: var(--text-color);
					}
				}
			}
		}
	}
}

@media (max-width: #{$break-xs}) {
	header {
		.search-bar {
			margin-top: -30px;
		}

		.clock {
			position: absolute;
			top: 49px;
			left: 20px;
			font-size: 1.5em;
		}
	}
}