/* Accordion Toggle */
.toggle-content-container {
    background: var(--header-background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0 4px 12px var(--box-shadow);
    transition: background-color 0.3s ease;

    &.open {
        .toggle-accordion .icon > svg {
            transform: rotate(-180deg);
        }
    }

    &.open, &:hover {
        background: var(--background-color);
    }

    &.disabled {
        border-color: var(--disabled-color) !important;
        background: var(--disabled-color) !important;
        color: var(--text-color) !important;

        .toggle-accordion {
            &:hover {
                h3 {
                    color: unset;
                }

                .icon > svg {
                    fill: var(--text-color);
                }
            }
        }
    }

    .toggle-accordion {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 48px;
        margin: 0 -16px;
        padding: 10px 45px 10px 15px;
        position: relative;
        user-select: none;

        h3 {
            transition: color 0.3s;
        }

        .icon > svg {
            position: absolute;
            width: 48px;
            height: 48px;
            top: 0;
            right: 0;
            padding: 5px;
            fill: var(--text-color);
            z-index: 1;
            transition: transform 0.3s ease, fill 0.3s;
        }

        &:hover {
            h3 {
                color: var(--hover-color);
            }

            .icon > svg {
                fill: var(--hover-color);
            }
        }
    }

    .toggle-content {
        position: relative;
        height: 0px;
        overflow: hidden;
        transition: height 0.3s ease;
    }
}
