/* Form Elements */
label, legend {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 5px;
	margin-bottom: 10px;
}

label {
	&.select {
		flex-basis: 100%;

		select {
			flex-grow: 1;
		}
	}
}

input[type="text"], input[type="password"], select, textarea {
	font-family: var(--font-main);
	color: var(--input-text);
	width: 100%;
	min-height: 36px;
	padding: 5px;
	border: 1px solid var(--border-color);
	border-radius: var(--input-border-radius);
	background-color: var(--input-bg);

	&::placeholder {
		color: var(--input-placeholder);
	}
}

input[type="text"], input[type="password"], select {
	max-width: 300px;
	transition: all .3s;
}

textarea {
	height: 115px;
	resize: vertical;
	transition: color .3s, width .3s, border .3s, background .3s;
}

input[type="checkbox"] {
	margin: 0 5px;
}

select {
	width: auto;
	margin-left: 5px;
}

fieldset {
	width: fit-content;
	border: 1px solid var(--border-color);
	border-radius: var(--container-border-radius);
	padding: 0 15px 15px;

	label:last-child {
		margin-bottom: 0;
	}
}

button {
	padding: 10px;
	background: var(--header-background-color);
	border: 1px var(--border-color) solid;
	border-radius: var(--button-border-radius);
	color: var(--text-color);
	line-height: 1;
	cursor: pointer;
	transition: all .3s;
	user-select: none;

	&.reset { //Reset button style for non-form related buttons
		background: transparent !important;
		border: none;
	}

	&:hover {
		background: var(--text-color);
		color: var(--header-background-color);
	}

	&:disabled {
		background: var(--border-color) !important;
		color: var(--text-color) !important;
		opacity: .75;
	}
}
