/* Settings */
#settings-view {
	h3 {
		position: relative;
		margin: 10px 0 10px;
	}

	form > p {
		font-size: .9rem;
	}
}

#clear-settings-wrapper {
	position: relative;
}

.ui-features {
	display: flex;
	max-width: 450px;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 0 30px;
}