/* Settings */
#settings-view {
	h3 {
		position: relative;
		display: -webkit-inline-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	form > p {
		font-size: .9rem;
	}
}

#clear-settings-wrapper {
	position: relative;
}

.user-settings {
	margin-top: 5px;
}

.ui-features {
	display: flex;
	max-width: 450px;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 0 30px;
	margin-top: 5px;
}

#link-templates-list {
	padding: 0 .5rem;
}